.container {
  padding: 10px;
  margin: 10px;
}
/* body {
  
  background: -webkit-linear-gradient(
    top,
    rgb(136, 199, 201) 58%,
    rgb(202, 232, 235) 100%

  );

  background: -moz-linear-gradient(
    top,
    rgb(136, 199, 201) 58%,
    rgb(202, 232, 235) 100%
  );

  background: -ms-linear-gradient(
    top,
    rgb(136, 199, 201) 58%,
    rgb(202, 232, 235) 100%
  );

  background: -o-linear-gradient(
    top,
    rgb(136, 199, 201) 58%,
    rgb(202, 232, 235) 100%
  );

  background: linear-gradient(
    top,
    rgb(136, 199, 201) 58%,
    rgb(202, 232, 235) 100%
  );

  padding: 3%;

  height: 94%;
} */

/* links for index pages */
.index-links-right {
  float: right;
  position: absolute;
  right: 50px;
  top: 15px;
}
/* links for index pages float left */
.index-left {
  float: left;
  position: absolute;
  left: 50px;
  top: 0px;
}
.padding {
  padding: 20px;
  padding-bottom: 20px;
}
.padding-top {
  padding-top: 30px;
}

/* p h tag body  */
p {
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: "Patrick Hand", cursive !important;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

/* container for css image slide */
/* .index-img-container {
  cursor: pointer;
  width: 100%;
  height: 350px;
  align-content: center;
} */

/* nav bar */
ul li {
  list-style: none;
  position: relative;
  display: inline;
}

/* css images hover */
/* welcome to card */
.transBox {
  background-color: white;
  opacity: 0.5;
  height: 350px;
}

/* keeping track of */
.transBox1 {
  background-color: #008f95;
  opacity: 0.5;
  height: 400px;
}
/* any project */
.transBox2 {
  background-color: #e86e80;
  opacity: 0.4;
  color: white;
}
/* anytime */
.transBox3 {
  background-color: lightgreen;
  opacity: 0.5;
  height: 350px;
  color: black;
}
/* any where */
.transBox4 {
  background-color: #e98000;
  opacity: 0.5;
  color: white;
}

ol li:nth-child(1) {
  background: url("/src/img/pencils.jpg");
  background-size: cover;
  background-position: left;
}

ol li:nth-child(2) {
  background: url("/src/img/work.jpg");
  background-size: cover;
  background-position: left;
}

ol li:nth-child(3) {
  background: url("/src/img/thread.jpg");
  background-size: cover;
  background-position: left;
}

ol li:nth-child(4) {
  background: url("/src/img/scissor.jpg");
  background-size: cover;
  background-position: left;
}

ol li:nth-child(5) {
  background: url("/src/img/woods.jpg");
  background-size: cover;
  background-position: right;
}

ol li:hover {
  width: 60%;
}

ol li:hover {
  bottom: 0;
  transition: 0.5s;
  transition-delay: 0.5s;
  opacity: 1;
}

ol li {
  left: 0;
  width: 100%;
  height: 350px;
  margin: 0;
  padding: 0;
}

ol li {
  list-style: none;
  position: relative;
  background-size: cover;
  height: 350px;
  border-right: 0.5px solid #000;
  line-height: 350px;
  float: left;
  box-sizing: border-box;
  transition: 0.5s;
  text-align: center;
  overflow: hidden;
  background-position: center;
}

ol li:nth-child(5) {
  width: 60%;
}

ol li {
  width: 10%;
}

ol:hover li:nth-child(5) {
  width: 10%;
}

/* ul nav bar top right */
ul li:hover {
  text-decoration: underline;
  color: #e98000;
}
.paper {
  padding: 6px 5px 4px 25px;
  position: relative;
  background: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      from(#920055),
      color-stop(4%, rgb(97, 0, 0))
    )
    0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  -ms-background-size: 100% 20px;
  -o-background-size: 100% 20px;
  background-size: 100% 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /* -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07); */
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.07); */
}

.paper::before {
  content: "";
  position: absolute;
  width: 4px;
  top: 0;
  left: 25px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}

.footer {
  background-color: #008f95;
}


.padding-top10{
  padding-top: 10px;
}

/* subbox */
.carousel-caption {
  padding-bottom: 300px;
  bottom:20px;
}

.padding300{
  padding-top:300px;
}

.orangebox{
  background-color: #e98000;
  height: 100px;
  width: 100px;
  padding-right: 5px;
}
.padding10px{
padding: 50px;
margin: 50px;

}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}